body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 80vw;
  max-height: 95vh;
  aspect-ratio: 16/9;
  border: 2px solid black;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
}

.player {
  position: relative;
  width: 10%;
  height: fit-content;
  background-color: aqua;
  display: flex;
  justify-content: center;
}
.player img {
  width: 150%;
  height: 100%;
  object-fit: cover;
}
